name: build-inmoose-wheel
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          architecture: "x64"
      - name: Build wheel
        run: |
          python -m pip install -U pip setuptools wheel cython numpy
          python -m pip wheel inmoose==0.8.1 --no-deps -w dist
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: inmoose-wheels
          path: dist\*.whl
          if-no-files-found: error
